.container-select-elemento{
    width: 100%;
    grid-column: 2;
}

.buttonAdd {
    all: unset;
    width: 50px;
    font-size: 1.2em;
    aspect-ratio: 1/1;

    display: grid;
    place-items: center;
    
    border-radius: 50%;
    background-color: var(--cor3);
    border: 1px solid #fff;
    transition: .5s;
    cursor: pointer;
    margin: auto;
}

.buttonAdd:hover {
    color: #fff;
    background-color: var(--corPrimaria);
}

.select-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    overflow: hidden;
    
    margin: 1em auto;
    border-radius: 10px;
    background-color: var(--cor1);
    gap: 5px;
    transition: .3s ease-in-out;
    
    height: 100%;
    padding: 5px;

    opacity: 0;
}

.buttonAdd:hover + .select-container , .select-container:hover {
    opacity: 1;
}

.select-container div {
    border-radius: 5px;
    text-align: center;
    padding: 8px 16px;
    border: 1px solid var(--cor2);
    background-color: var(--cor2);
    cursor: pointer;
}

.select-container div:hover {
    background-color: var(--cor3);
}