.buttonAdd {
    all: unset;
    width: 50px;
    font-size: 2em;
    aspect-ratio: 1/1;

    display: grid;
    place-items: center;

    border-radius: 50%;
    background-color: var(--cor3);
    border: 1px solid #fff;
    transition: .5s;
    cursor: pointer;
    margin: auto;
}

.buttonAdd:hover {
    background-color: var(--corPrimaria);
}