.container-select-elemento {
    width: fit-content
}

.formulario-criacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1em;
    padding: 1em;
    height: calc(100dvh - 75px);
    overflow-y: scroll;
    box-shadow: 5px 5px 10px #00000018;
}

.config-gerais{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid var(--cor1);
}

.select-container {
    margin: 1em auto;
    border-radius: 15px;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    background-color: var(--cor1);
    padding: 10px;
    gap: 5px;
}

.elementos-lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    width: 100%;
}


.formulario-criacao::-webkit-scrollbar {
    height: 9px;
    width: 9px;
}

.formulario-criacao::-webkit-scrollbar-track {
    background-color: transparent;
}

.formulario-criacao::-webkit-scrollbar-thumb {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--corPrimaria);
}