.input {
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--cor1);
    padding: 8px 16px;
    border-radius: 5px;
    color: var(--corTxt);
    height: fit-content;
    text-wrap: wrap;
    outline: none;
    transition: all 0.3s;
}

.input:focus {
    border: 1px solid var(--corPrimaria);
    box-shadow: 0 0 5px var(--corPrimaria);
}

.input[type= "number"]{
    max-width: fit-content;
}

.input::placeholder {
    opacity: 0.7;
}