.input {
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--cor1);
    padding: 8px 16px;
    border-radius: 5px;
    color: var(--corTxt);
    height: fit-content;
    text-wrap: wrap;
    outline: none;
}

.input:focus {
    outline: 1px solid var(--corPrimaria);
}

.input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    width: 30px;
    aspect-ratio: 1/1;
    
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.input[type="color"]::-webkit-color-swatch {
    padding: 0;
    outline: none;
    border: none;
    border-radius: 5px;
}