#formularioEnvioCloseLabel {
    position: absolute;
    top: 0;
    left: -1.5em;

    display: grid;
    place-items: center;
    width: 1.5em;
    height: 1.5em;


    background-color: var(--cor2);
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}

#formularioEnvioClose {
    display: none;
}

.formulario-envio {
    position: relative;
    transition: .5s ease-in;
}

.formulario-envio:has(#formularioEnvioClose:checked) {
    transform: translate(100%);
    /* width: 0; */
}