.formulario-envio {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 15px;
    height: calc(100dvh - 75px);
    background-color: var(--cor2);
}

.formulario-envio article,
.formulario-envio article details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 16px;
}

.formulario-envio article:not(:last-child) {
    border-bottom: 2px solid var(--cor1);
}

.formulario-envio h3 {
    font-family: var(--fontTitulo);
}


/* From Uiverse.io by adamgiebl */
.botaoEnviar {
    all: unset;
    position: relative;

    background-color: var(--corPrimaria);

    font-family: var(--fontTitulo);
    border-radius: 5px;
    text-align: center;
    padding: 8px 16px;
    transition: all 5s;
    cursor: pointer;
    overflow: hidden;
}

.botaoEnviar i {
    display: inline-block;
    transition: transform 0.5s;
}

.botaoEnviar span {
    margin-left: 8px;
    font-size: 1.2em;
}

.botaoEnviar:hover span {
    color: #fff;
}

.botaoEnviar:hover i {
    color: #fff;
    transform: translateX(-1.2em) rotate(45deg) scale(1.1);
}

.botaoEnviar:active i {
    transform: translateX(350px) rotate(45deg) scale(1.1);
}

.botaoExport {
    all: unset;
    border: 1.5px solid var(--cor1);
    text-align: center;
    padding: 8px 16px;
    font-size: 1.2em;
    color: var(--cor1);
    border-radius: 5px;
    transition: all 0.5s;
}

.botaoExport:hover {
    background-color: var(--cor1);
    color: var(--corPrimaria);
    cursor: pointer;
}

summary {
    text-align: right;
}

details:not([open]) {
    padding: 0 !important;
}
