.editor-card {
  padding: 10px;
  background-color: var(--cor3);
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #00000010, inset -5px -5px 10px #ffffffb7;
}

.editor-card.span-2 {
  grid-column: span 2;
}

.elemento-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.elemento-header span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.elemento-actions{
  position: relative;
  text-align: right;
}

.elemento-actions i{
  cursor: pointer;
}

.elemento-actions i:hover{
  color: var(--corPrimaria);
}

.elemento-actions ul{
  position: absolute; 
  right: 0;
  background-color: var(--cor3);
  box-shadow: 5px 5px 10px #00000011, inset -5px -5px 10px #ffffffb7;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid var(--corPrimaria);
  z-index: 10;
  list-style: none; 
}

.elemento-actions ul li{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
}
.overlay{
  position: fixed;
  inset: 0;
   z-index: 9;
}

.codigoTextArea{
  padding: 5px;
  background-color: #000;
  color: #f5f5f5;
  caret-color: var(--corPrimaria);
width: 100%;
  resize: vertical;
}