.mainHome {
    height: 100dvh;
    
    background-image: linear-gradient(90deg, #020516, transparent), url(../../assets/retrato-de-guerreira-de-mulher-cyberpunk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #020516;
}


.homeLadingPage {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    min-height: calc(100dvh - 75px); /* subtrai a altura do header */
}

.homeLadingPage .apresentacaoHome {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: #fff;
    padding: 0 2em;
}


.homeLadingPage .apresentacaoHome h3 {
    max-width: 600px;
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: var(--corPrimaria);
}

.homeLadingPage .apresentacaoHome h2 {
    font-family: var(--fontTitulo);
    max-width: 800px;
    font-size: clamp(2.5rem, 5vw, 3.5rem);
}

.homeLadingPage .apresentacaoHome p {
    opacity: .5;
}

/* From Uiverse.io by adamgiebl */
.startButton {
    display: flex;
    align-items: center;
    position: relative;

    width: fit-content;
    padding: 8px 16px;
    padding-right: calc(3em + 16px);

    text-decoration: none;
    font-weight: bold;
    color: var(--corPrimaria);
    border: 2px solid var(--corFundo);
    background: var(--corFundo);

    border-radius: 20px;
    cursor: pointer;
}

.startButton .icon {
    background-color: var(--corPrimaria);
    color: var(--corFundo);

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 3em;
    border-radius: 20px;
    right: 0;
    transition: all 0.3s;
}

.startButton:hover .icon {
    width: 100%;
}

.startButton:active .icon {
    transform: scale(0.95);
}


.cardsHome {
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;
    justify-content: space-evenly;
    gap: 1em;
    overflow-x: scroll;
}

/* hide WebKit scrollbar */
.cardsHome::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.cardHome {
    max-width: 500px;
    padding: 15px;
    border-radius: 15px 5px ;
}

.cardHome h4 {
    font-family: var(--fontTitulo);
    font-size: 120%;
    margin-bottom: 0.5em;
    color: #fff
}
.cardHome p {
    opacity: .7;
    color: #fff
}