.header{
  height:75px;
  width: 100vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px;
  background-color: var(--cor3);
  gap: 1em;
  text-transform: capitalize;
  box-shadow: 5px 0 10px #00000027;
}

.header img{
  max-width: 70px;
}

.header nav ul{
  display: flex;
  gap: 1em;
  align-items: center;
  list-style: none;
}
.header nav ul a{ 
  all: unset;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  font-size: 120%;
}

.header nav ul a:hover{
  color: var(--corPrimaria);
  
}

.header nav ul a::before{
  content: '';
  display: inline-block;
  width: 0%;
  height: 2px;
  background-color: var(--corPrimaria);
  position: absolute;
  bottom: 0px;
  left: -5%;
  transition: all 0.3s ease-in-out;
}

.header nav ul a:hover::before{
  width: 110%;
}