.menuEditor {
    width: 100%;
    background-color: var(--cor3);
}

.menuEditor button {
    all: unset;
    position: relative;
    color: var(--cor1);
    border-radius: 2px;
}

.menuEditor button:hover {
    color: var(--corPrimaria);
}


.menuCheckboxInput{
    display: none;
}
.menuCheckboxInput:checked ~ .menuCheckboxLabel {
    color: var(--corPrimaria);
}

.menuBotoes {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 5px;
    background-color: var(--cor2);
    border-radius: 5px;
    margin-bottom: 5px;
}

.colorButton {
    position: relative;
}

.colorButton:hover .colorSelect {
    display: grid;
}

.colorSelect {
    display: none;
    position: absolute;
    top: 100%;

    grid-template-columns: repeat(5, 1fr);
    padding: 5px;
    gap: 2px;

    background-color: var(--cor3);
    box-shadow: 5px 5px 10px #0000003b, inset -5px -5px 10px #ffffffb7;
    border-radius: 5px;
    z-index: 10;
}

span.colorSelectOption,
.colorSelect input[type="color"] {
    width: 20px;
    height: 20px;
    background-color: var(--color);
    display: inline-block;
    cursor: pointer;
}

.colorSelect input[type="color"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    appearance: none;
    
    outline: none;
    border: none;
    cursor: pointer;
    background-color:transparent;
}
.colorSelect input[type="color"]::before{
    content: '🎨';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.colorSelect input[type="color"]::-webkit-color-swatch {
    display: none;
    padding: 0;
    outline: none;
    outline: 1px solid var(--cor1);
    height: 100%;
    width: 100%;
}

.ProseMirror {
    all: unset;
    appearance: none;
    background-color: var(--cor2);
    height: 100%;
}

.ProseMirror ul,
.ProseMirror ol {
    padding-left: 20px;
}

.ProseMirror p {
    word-break: break-all;
    
}

.editorTipTap {
    padding: 10px;
    background-color: var(--cor2);
}
