:root {
  --cor1: #020516;
  --cor2: #ececec;
  --cor3: #f5f5f5;
  --corPrimaria: #ED145B;
  --corTxt: #000000;
  --corFundo: #f2f2f2;
  --fontTitulo: "Orbitron", sans-serif;
  --fontPadrao: "Work Sans", sans-serif;
}

::selection {
  color: white;
  background-color: var(--corPrimaria);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontPadrao);
}

.hidden {
  display: none;
}


::-webkit-scrollbar {
    height: 9px;
    width: 9px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--corPrimaria);
}