:root{
    --cor1: #b0b7b9;
    --cor2: #DDE4E6;
    --cor3: #ececec;
    --corPrimaria: #ff4800;
    --corTxt: #000000;
    --gradiente: linear-gradient(#17D9B1,#17D9B1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}  

